footer{
    border-width: 6px;
  border-color: black;
  border-style: solid;

    background-color: #708090;
    padding: 5%;
}
#head{
    background-color: #708090;
    padding: 5%;
    border: black;
    border-width: 6px;
    border-color: black;
    border-style: solid;
  
}
#bod{
    background-color: #B6D0E2;
    margin:10%;
    border-width: 6px;
    border-color: black;
    border-style: solid;
}
body{
    background-color: #B6D0E2;   
}
button{
    float:left;
    margin-left: auto;
    padding: 2%;
    background-color: #ffbcd9;
    background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
    font-size: 16px;
  font-weight: 700;
  border-radius: 30%;
    }    
